*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #EEF5FF;
}
.navbar{
    background-color: #172E58 !important;
    box-shadow: 2px 2px 2px rgb(167, 167, 176);
}
.navbar div a{
    padding-right: 25px !important;
}
.container{
    width: 70%;
    padding: 0;
    margin-top: 25px;
    border-radius: 20px;
    height: fit-content;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 30px rgba(148, 165, 197, 0.701);
}
.container a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.card{
    border:none;
    /* border-bottom: 2px solid black; */
    margin-top: 40px;
    width: 100% !important;
}
.card img{
    /* text-shadow: 4px 4px 4px black; */
    width: 250px;
    align-self: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding-right: 0;
    padding-left: 0;
}
.card-body p{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    /* border: 0.01px solid red; */
    width: 90%;
}
.card-body h1{
    font-size: 3.5rem;
}
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    padding-top: 15px;
}
.sec2 p{
    text-align: center;
    /* border: 0.1px solid red; */
    width: 90%;
}
.features{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin: 1rem;
}
.features h1{
    font-size: 2.5rem;
}
hr{
    width: 92%;
}