*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #EEF5FF;
}
.navbar{
    background-color: #172E58 !important;
    box-shadow: 2px 2px 2px rgb(167, 167, 176);
}
.navbar div a{
    padding-right: 23px !important;
}
.container{
    width: 70%;
    padding: 0;
    padding-bottom: 60px;
    margin-top: 25px;
    margin-bottom: 60px;
    border-radius: 20px;
    height: fit-content;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 30px rgba(148, 165, 197, 0.701);
}
.container a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.card{
    border:none;
    /* border-bottom: 2px solid black; */
    margin-top: 40px;
    width: 100% !important;
}
.card img{
    /* text-shadow: 4px 4px 4px black; */
    width: 250px;
    align-self: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding-right: 0;
    padding-left: 0;
}
.card-body p{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    /* border: 0.01px solid red; */
    width: 90%;
}
.card-body h1{
    font-size: 3.5rem;
}
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    padding-top: 15px;
}
.sec2 p{
    text-align: center;
    /* border: 0.1px solid red; */
    width: 90%;
}
.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* border: 2px solid red; */
    margin: 1rem;
}
.features h1{
    font-size: 2.5rem;
}
.features h2{
    font-size: 1.5rem;
    margin-top: 10px;
}
.features .Ranklist,.features .students,.features .others{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.Ranklist ul,.students ul,.others ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 1.5rem;
    /* border: 2px solid red; */
}
.Ranklist ul li,.students ul li,.others ul li{
    width: 30%;
    display: flex;
    z-index: 2;
    justify-content: center;
    margin: 5px 10px;
    /* border: 1px solid transparent; */
    padding: 0.375rem 0.75rem;
    box-shadow: 1px 1px 5px rgb(78, 74, 113);
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(23,46,88);
    border-radius: 0.25rem;
    /* border: 1px solid black; */
}
.students ul li{
    width: 46%;
    margin: 5px 0.4rem;
}
#largest_link{
    width: 93%;
    margin: 5px 0.4rem;
}
.Ranklist ul li a, .students ul li a, .others ul li a{
    width: 100%;
    font-weight: 300;
    color: white;
    /* border: 2px solid red; */
    text-align: center;
}
#upcoming{
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: none;
}
#upcoming:hover{
    box-shadow: none;
    transform: translateY(0px);
    background-color: #ededed;
}
#upcoming a{
    color: black;
}
.hidden{
    visibility: hidden;
}
.Ranklist ul li:hover, .students ul li:hover, .others ul li:hover{
    transform: translateY(-3px);
    -webkit-transition-duration: 0.5s;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
    box-shadow: 5px 5px rgba(15,93,244,.4), 10px 10px rgba(15,93,244,.3), 15px 15px rgba(15,93,244,.2), 20px 20px rgba(15,93,244,.1), 25px 25px rgba(15,93,244,.05);
}
hr{
    width: 92%;
}
.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width:900px){
    .Ranklist ul li{
        width: 90%;
    }
    .students ul li{
        width: 45%;
    }
    .others ul li{
        /* font-size: 0.8rem; */
        width: 45%;
        /* padding: 0.35rem 0.3rem; */
    }
    #secLargest{
        width: 93.9%;
    }
}
@media screen and (max-width:566px){
    .container{
        width: 100%;
    }
    #secLargest{
        width: 94.5%;
    }

}